body {
    background-color: #55b9f3;
    height: 100vh;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* inside */
.container,
.f1,
.f2,
.f3,
.f4,
.f5,
.f6,
.f7,
.f8,
.f9,
.f10

{

    background-color: #55b9f3;
    box-shadow: inset 30px 16px 36px #595a5a, inset -30px -16px 36px #595a5a;
    transition: box-shadow 0.6s ease-in-out;
    /* animation: spin 30s linear infinite; */

    height:80%;
    width:80%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.f11,
.f12,
.f13{

    background-color: #55b9f3;
    box-shadow: inset 20px 8px 36px #595a5a, inset -20px -8px 36px #595a5a;
    transition: box-shadow 0.6s ease-in-out;
    /* animation: spin 30s linear infinite; */

    height:70%;
    width:70%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.f12{
    width: 45%;
    box-shadow: inset 10px 4px 16px #595a5a, inset -10px -4px 16px #595a5a;
     animation: spin 30s linear infinite;
}
.f13{
    width: 45%;
    box-shadow: inset 10px 4px 16px #595a5a, inset -10px -4px 16px #595a5a;
     animation: spin 10s linear infinite;
}
@keyframes spin {
    100% {
        transform: rotateZ(-360deg);
        transition: box-shadow 0.6s ease-in-out;
        /* box-shadow: 12px 12px 36px #595a5a, -12px -12px 36px #595a5a; */
    }
}

/* out side */
/* .container,.f1,.f2, .f3, .f4,.f5,.f6 {
   
    background-color:#a7a9aa;
    box-shadow:   22px 22px 36px     #595a5a,  -18px -18px 36px #595a5a;
   transition: box-shadow 0.6s ease-in-out;
    animation: spin 70s linear infinite;
  } */
/* .container:hover,.f1:hover,.f2:hover, .f3:hover, .f4:hover,.f5:hover, .f6:hover{
    transition: all 0.9s ease;
    background-color:#a7a9aa;
     
    box-shadow:   22px 22px 36px #595a5a,               -22px -22px 36px #595a5a;
    transition: box-shadow 500ms;
  } */

/* inside hover */
/* .container:hover .f1,
.container:hover .f2,
.container:hover .f3,
.container:hover .f4,
.container:hover .f5,
.container:hover .f6 {
    box-shadow: inset -5px -5px 36px #595a5a, inset 5px 5px 36px #595a5a;
    transition: box-shadow 0.6s ease-in-out;
} */

/* out side hover */
/* .container:hover .f1,
.container:hover .f2,
.container:hover .f3,
.container:hover .f4,
.container:hover .f5,
.container:hover .f6 {
    box-shadow: 9px 9px 26px #595a5a, -9px -9px 26px #595a5a;
    transition: box-shadow 0.6s ease-in-out;
} */